// 全局变量
$zl-padding: 12px; // 内边距
$zl-border-radius: 8px; // 圆角
$zl-collapse-margin: 10px; // 折叠面板外边距

$zl-aside-width: 224px; // 侧边栏宽度
$zl-aside-mini-width: 65px; // 侧边栏最小宽度
$zl-aside-mobile-width: 0px; // 侧边栏移动端宽度
$zl-header-height: 60px; // 顶部高度
$zl-footer-bar-height: 60px; // 底部栏高度
$zl-scrollbar-width: 8px; // 双滚动条宽度
$zl-view-footer-bar-height: calc(100vh - $zl-padding * 2 - $zl-footer-bar-height); // 内容高度

$zl-ai-dataset-file-width: 82px; // AI数据集文件宽度
$zl-ai-dataset-file-height: 82px; // AI数据集文件高度
