html.dark {
	--zl-bg: #0a0a0a;
	--zl-main-bg: #141414;
	--zl-switch-bg: #000;
	--zl-switch-color: #e5eaf3;
	--zl-switch-color-active: #fff;
	--zl-box-shadow: rgba(0, 0, 0, 0.72);
	--zl-waveform-region-default-selection: rgba(32, 189, 160, 0.2);
	--zl-tts2-seg-th-bg: #0a0a0a;
	--zl-tts2-seg-td-bg: transparent;
	--zl-el-alert-info-bg-color: rgb(32, 33, 33);
	--zl-el-alert-info-color: #909399;
}
