html {
	--zl-bg: #f2f3f8;
	--zl-main-bg: #fff;
	--zl-switch-bg: #fff;
	--zl-switch-color: #606266;
	--zl-switch-color-active: #fff;
	--zl-box-shadow: rgba(0, 0, 0, 0.12);
	--zl-waveform-region-default-selection: rgba(32, 189, 160, 0.2);
	--zl-tts2-table-th-bg: #fafafa;
	--zl-tts2-table-td-bg: #fcfcfc;
	--zl-el-alert-info-bg-color: rgb(244, 244, 245);
	--zl-el-alert-info-color: #909399;
	--zl-footer-audio-progress-bg: rgba(32, 189, 160, 0.2);
}
