html {
	--zl-bg: #f2f3f8;
	--zl-main-bg: #fff;
	--zl-switch-bg: #fff;
	--zl-switch-color: #606266;
	--zl-switch-color-active: #fff;
	--zl-box-shadow: rgba(0, 0, 0, 0.12);
	--zl-waveform-region-default-selection: rgba(32, 189, 160, 0.2);
}
